<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Welcome to Student Page</h2>
    <form action="/student" method="post">
      <div>
        <label for="name"> Student Name : </label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter Student Name"
          required
        />
      </div>
      <div>
        <label for="roll">Student Roll : </label>
        <input
          type="text"
          name="roll"
          id="roll"
          placeholder="Enter Student Roll"
          inputmode="numeric"
          oninput="this.value = this.value.replace(/[^0-9]/g, '')"
          required
        />
      </div>
      <div>
        <button type="submit">Register</button
        ><button type="reset">Reset</button>
      </div>
    </form>
  </body>
</html>
